/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.home-heading {
  font-size: 40px;
  font-family: 'roboto';
  font-weight: 600;
  color: black;
}
